/*BODY*/
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-size: large;
}
.content{
    flex: 1;
}

.kposter{
    margin: 0 auto;
    max-width: 800px;
    font-weight: bold;
    color: #3498db;
}

hr {
    border: 0; 
    height: 1px; 
    background-color: #6c8593;
    margin: 20px 0; 
   
}

/*HEADER I NAVIGACIJA*/
header {
    background-color: #66747b;
    color: white;
    text-align: center;
    padding: 1em;
}


nav {
    background-color: #3e4b51;
    padding: 1em;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo img {
    max-height: 50px;
}
nav a {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffffff;
    transform: scale(1.1);
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #43525a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.trenutna{
    border: solid 1px white;
    border-radius: 12px;
    padding: 10px;
}


/*FOTOGALERIJA*/
section {
    padding: 2em;
}

.fotorama{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

/*OPĆENITO O KONFERENCIJI*/
#tekst_1 {
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tekst_1 p {
    font-size: 15px;
    line-height: 1.6;
}


#tekst_2{
    text-align: justify;
    
    
    }

/*TEME I PODTEME KONFERENCIJE*/
.teme {
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.teme p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

.teme b {
    font-weight: bold;
    color: #3498db;
}

.teme ul {
    list-style-type: none;
    padding: 0;
}

.teme li {
    margin-bottom: 20px;
}

/*UPUTE*/
.upute{
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}


.lijevo{
    text-align: left;
}


/*ROKOVI KONFERENCIJE*/
.rokovi{
  
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/*LOKACIJA KONFERENCIJE*/
.lokacija{
 
    padding-top: 20px;
    font-size: 20px;
     }
    
/*SMJEŠTAJ*/
     .smjestaj{
      
        font-size: 20px;

     }

/*JAVNI PRIJEVOZ*/
     .javni_prijevoz{
       
        text-align: center;
        margin: 20px auto;
        max-width: 700px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     }

/*PRIVOLA ZA FOTOGRAFIRANJE*/
.privola{
  
    font-size: 20px;
}

/*SPONZORI KONFERENCIJE*/
.sponzori{
 
    font-size: 20px;
    padding-top: 20px;
}

/*GUMB POVRATAK NA VRH*/
#top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    bottom: 40px;
    right: 7px;
    z-index: 999;
    text-decoration: none;
  }
  
  .scroll-to-top {
    width: 50px;
    height: 50px;
    background-color: #43525a;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top i {
    color: #fff;
    font-size: 24px;
  }
  
  .scroll-to-top:hover {
    background-color: #344050;
  }  


/*NASLOVI*/
#lokacija, #rokovi, #upute, #tema, #lokacija, #smjestaj, #javni_prijevoz, #privola, #sponzori{
    color: #3498db;
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
}



/*FOOTER*/
footer {
    background-color: #43525a;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin-top: auto;
    clear: both;

}

.page-container{
    position: relative;
    min-height: 100vh;
}

/*RESPONZIVNOST*/
@media screen and (max-width: 768px) {
    .fotorama {
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    nav a {
        margin: 0.5em 0;
    }

    .sponzori {
        font-size: 16px;
    }
    .teme p {
        font-size: 14px;
    }

    .upute li, .upute p {
        font-size: 14px;
    }

    .rokovi p {
        font-size: 14px;
    }
    .lokacija iframe {
        width: 100%;
    }

    .smjestaj,
    .javni_prijevoz,
    .privola {
        font-size: 14px;
    }

}


@media only screen and (min-width: 770px) {
    .menu-icon {
      display: none; 
    }
  }

  @media only screen and (max-width: 770px) {
   .dropdown{
    display: none;
   }
   .menu-icon {
    flex-direction: column;
    cursor: pointer;
    display: flex;
      align-self: flex-end;
      margin-top:-30px ;
      padding-bottom: 20px;
  }
  .dropdown {
    display: none;
      flex-direction: column;
      position: fixed;
      top: 80px;
      left: 10px;
      width: 92%;
      background-color: #3e4b51;
      z-index: 1;
  }
  
  .dropdown a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
      text-align: center;
  }
  
  .dropdown a:hover {
    background-color: #3e4b51;
  }
  
  .menu-open {
    margin-left: 20px;
    overflow: hidden;
  }
  
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
  }
  
  }

@media screen and (max-width: 700px) {
    #map-iframe {
        width: 100%; 
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    body{
        transition: margin-left 0.3s;
    }
    nav a {
        font-size: 14px;
    }

    .sponzori {
        font-size: 14px;
    }
    .teme p {
        font-size: 12px;
    }

    .upute li, .upute p {
        font-size: 12px;
    }

    .rokovi p {
        font-size: 12px;
    }
    .lokacija iframe {
        height: 300px;
    }

    .smjestaj,
    .javni_prijevoz,
    .privola {
        font-size: 12px;
    }
    nav {
        background-color: #3e4b51;
        overflow: hidden;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
      }
      
      .logo img {
        max-height: 40px;
      }
      
      .dropdown {
        display: none;
          flex-direction: column;
          position: fixed;
          margin-top: -25px;
          left: 10px;
          width: 93%;
          background-color: #3e4b51;
          z-index: 1;
      }
      
      .dropdown a {
        color: white;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.3s;
          text-align: center;
      }
      
      .dropdown a:hover {
        background-color: #3e4b51;
      }
      
      .menu-icon {
        flex-direction: column;
        cursor: pointer;
        display: flex;
          align-self: flex-end;
      }
      .menu-open {
        margin-left: 20px; 
        overflow: hidden;
      }
      
      .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
      }
      
      
}

